<div class="well sidebar-nav text-center">
  <%= image_tag user.image, class: 'user-icon' %>
  <h3><%= user.name %></h3>
  <% if user_signed_in? && user.id == current_user.id %>
      <p><%= link_to 'お気に入りを更新', '/users/fetch', class:"btn btn-primary btn-lg"  %></p>
      <p><%= link_to '設定', '/users/setting', class:"btn btn-default btn-lg"  %></p>
<% end %>
</div><!--/.well -->