<header>
  <div class="container">
    <div class="vcenter">
      <div class="jumbotron">
        <h1>StarCaster</h1>
        <p>投げよう、星を</p>
        <p><%= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
  <p class="star">★</p>
</header>
<section class="sky1">
  <div class="container">
    <h1>星は、知恵を記憶する...</h1>
    <hr/>
    <p class="lead">StarCasterはあなたのお気に入りツイートから、リンクを集めます。</p>
    <p class="lead">これらは自動でPocket、はてなブックマーク、Qiitaに送られ、知恵を集約します。</p>
  </div>
</section>
<section class="sky2">
  <div class="container">
    <h1>知恵は星のように流れる...</h1>
    <hr/>
    <p class="lead">登録してある他のユーザのお気に入りも、あなた自身と同様に見ることができます。</p>
    <p class="lead">有識者のお気に入りから、情報のトレンドを捉えよう。</p>
  </div>
</section>
<section class="sky3">
  <div class="container">
    <h1>StarCasterの機能</h1>
    <hr/>
    <p class="lead">Alpha版では以下の機能を使用できるようになります</p>
    <li>自身のお気に入りからリンク、画像をそれぞれ抽出する機能</li>
    <li>お気に入りのリンク、画像を登録済みの他サービスへ保存できる機能(調整中)</li>
    <li>お気に入り取得時に上機能を自動で行う機能(調整中)</li>
  </div>
</section>
<section class="sky4">
  <div class="container">
    <h1>TwitterAPIの利用</h1>
    <hr/>
    <p class="lead">StarCasterはTwitterAPIを使用してお気に入りを取得します。</p>
    <p>更新時より直近最大3000件取得することができます。</p>
  </div>
</section>
<section class="sky5">
  <div class="container">
    <h1>実装予定の機能</h1>
    <hr/>
    <p class="lead">Beta版では以下の機能を実装予定です</p>
    <li>1時間おきにお気に入りを自動更新する機能</li>
    <li>特定のユーザのお気に入りリンクを一覧表示するリスト機能</li>
  </div>
</section>
<section class="sky6">
  <div class="container">
  </div>
</section>