// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter-icon {
  margin-right: 5px;
  margin-left: -10px;
  height: 48px;
  width: 48px;
}

.user-icon {
  height: 100px;
  width: 100px;
}

.config-tab {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  height: 320px;
}